@import './value.sass'

.main
  box-sizing: border-box
  border: 1px solid $grey
  display: flex
  flex-direction: column
  height: 100%
  flex-basis: calc(100% - 135px)
  flex-grow: 2
  flex-shrink: 3

.message_list
  flex: 1 0 auto
  box-sizing: border-box
  padding: 15px
  overflow-y: auto
  height: calc(100% - 58px)

.message-list__item
  display: block
  padding: 10px
  background: $grey
  color: #000
  border-radius: 5px
  float: left
  clear: both
  margin-bottom: 10px

.message-list__text
  display: inline-block
  word-wrap: break-word
  overflow-wrap: break-word
  max-width: 200px

.message_list__item--owner
  justify-content: flex-end
  background: $blue
  color: white
  float: right

.send
  flex: 0 0 auto
  border-top: 1px solid $grey
  padding: 10px
  display: flex

.send__text
  outline: none
  flex-basis: 300px
  flex-shrink: 3
  padding: 10px
  border-radius: 5px
  border: 1px solid $grey

.send__button
  background-color: transparent
  outline: none
  border: none
  cursor: pointer
  margin-left: 10px
  opacity: 1
  transition: opacity $time ease-out

.send__button--disabled
  opacity: 0.7

@media screen and (max-width: 750px)
  .main
    flex-basis: calc(100% - 65px)
  .send__text
    flex-basis: 90%

@media screen and (max-width: 375px)
  .send
    padding: 0
