.sidebar {
  flex-basis: 135px;
  flex-shrink: 1;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
  transition: flex-basis 0.5s ease-in-out; }

.sidebar__search {
  width: 80%;
  outline: none;
  text-indent: 5px;
  margin-top: 10px;
  opacity: 1;
  transition: opacity 0.5s ease-out; }

.sidebar__list {
  margin-top: 10px;
  overflow: auto; }

.sidebar__list_item {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px; }
  .sidebar__list_item:hover {
    cursor: pointer; }

.sidebar__list_item--active {
  background-color: #117bfb; }

.sidebar__list_img {
  width: 40px;
  height: 40px;
  border: 1px solid #eee; }

.sidebar__list_name {
  padding-left: 10px;
  font-size: 12px;
  text-align: left;
  transition: font-size 0.5s ease-out; }

.toggle_menu {
  width: 30px;
  height: 25px;
  position: relative;
  margin: 5px auto;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none; }

.toggle_menu__span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #117bfb;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out; }

.toggle_menu .toggle_menu__span:nth-child(1) {
  top: 0; }

.toggle_menu .toggle_menu__span:nth-child(2), .toggle_menu .toggle_menu__span:nth-child(3) {
  top: 9px; }

.toggle_menu .toggle_menu__span:nth-child(4) {
  top: 18px; }

.toggle_menu--open .toggle_menu__span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%; }

.toggle_menu--open .toggle_menu__span:nth-child(2) {
  transform: rotate(45deg); }

.toggle_menu--open .toggle_menu__span:nth-child(3) {
  transform: rotate(-45deg); }

.toggle_menu--open .toggle_menu__span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%; }

.sidebar--close {
  flex-basis: 65px;
  padding: 10px 0; }
  .sidebar--close .sidebar__list_name {
    font-size: 0;
    padding-left: 0; }
  .sidebar--close .sidebar__search {
    opacity: 0; }

@media screen and (max-width: 750px) {
  .toggle_menu {
    display: block; } }

@media screen and (max-width: 375px) {
  .sidebar__search {
    font-size: 11px; }
  .sidebar__list_item {
    flex-direction: column; }
  .sidebar__list_name {
    text-align: center;
    padding-left: 0;
    padding-top: 10px; } }
